{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cadastro de usuário</h1>

    <form method="POST" action="{{ path('newUser') }}">
        <input type="text" name="name" placeholder="nome"/>
        <input type="text" name="street" placeholder="rua"/>
        <input type="submit" />
    </form>
{% endblock %}