{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('homepage') }}"><button>Adicionar usuário</button></a>

    <ul>
        {% for user in users %}
            <li>{{ user['nome'] }} - {{ user['rua'] }}</li>
        {% endfor %}
    </ul>
{% endblock %}